<div style="min-height: 100vh;width:fit-content " class="bg-success text-light p-3 d-flex flex-column fixed">

    <h3 style="width: 250px; font-size: 20px;" class=" mb-5 text-warning border rounded p-3 shadow"><i class="fa-solid fa-graduation-cap"></i>Cookpedia Admin</h3>

    <a routerLink="/admin" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-chart-simple me-2"></i>Dashboard</a>

    <a routerLink="/admin/recipe-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-bowl-food me-2"></i>Recipe List</a>

    <a routerLink="/admin/user-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-users me-2"></i>User List</a>

    <a routerLink="/admin/download-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-download me-2"></i>Download List</a>

    <a routerLink="/admin/request-list" class="text-decoration-none text-light fw-bolder mb-4"><i class="fa-solid fa-message me-2"></i>Request List</a>

</div>