<nav class="navbar navbar-expand-lg mx-5 mt-5 bg-success">
    <div class="container">
      <a class="navbar-brand text-light fw-bolder" href="#"> <i class="fa-solid fa-graduation-cap"></i> Cookpedia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" routerLink="/" aria-current="page" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" routerLink="/all-recipes" aria-current="page" >Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" routerLink="/about" aria-current="page" >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" routerLink="/contact" aria-current="page" >Contact</a>
          </li>
         
        </ul>
        <div class="ms-auto dropdown">
            <button class="btn text-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              @if (isLoggedin) {
                <span class="me-2">Hi,{{loginuser}}</span>
               }
             <i class="fa-solid fa-user"></i>
             
            </button>
            <ul class="dropdown-menu">
              @if (isLoggedin) {
                <li><a class="dropdown-item" routerLink="/profile">profile</a></li>
                <li><a class="dropdown-item" routerLink="/all-recipes"> Recipe Collection</a></li>
                <li><a class="dropdown-item" routerLink="/saved-recipes">Saved Recipes</a></li>
                <li><button class="dropdown-item" (click)="logout()"> Logout</button></li>
  
               }@else {
                <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                <li><a class="dropdown-item" routerLink="/register"> Register</a></li>
  
               }
            </ul>
          </div>
        
      </div>
    </div>
  </nav>
