<div class="row">
    <div class="col-lg-2 min-vh-100 fixed">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-lg-10 p-5">
        <h1>All Users List</h1>
        <table class="table my-5 shadow">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @for (item of allusers; track $index; let i = $index) {
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
