<div class="row">
    <div class="col-lg-2 min-vh-100">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-lg-10 p-5">
        <h1>All Download List</h1>
        <table class="table my-5 shadow">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Recipe Id</th>
                    <th>Recipe Name</th>
                    <th>Recipe Cuisine</th>
                    <th>Recipe Count</th>
                </tr>
            </thead>
            <tbody>
                @for (item of allDownloads; track $index; let i = $index) {
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{item.recipeId}}</td>
                        <td>{{item.recipeName}}</td>
                        <td>{{item.Cuisine}}</td>
                        <td>{{item.count}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
